h1{color:purple;}



#sufijo_1{font-family:'arial';  font-size: 1em; font-weight: bold; color:red}
#sufijo_2{font-family:'arial';  font-size: 1em; font-weight: bold; color:blue}
#sufijo_3{font-family:'arial';  font-size: 1em; font-weight: bold; color:green}
#sufijo_4{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF0080}
#sufijo_5{font-family:'arial';  font-size: 1em; font-weight: bold; color:#39ff14}
#sufijo_6{font-family:'arial';  font-size: 1em; font-weight: bold; color:purple}
#sufijo_7{font-family:'arial';  font-size: 1em; font-weight: bold; color:#0CB7F2}
#sufijo_8{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF7F00}
#sufijo_9{font-family:'arial';  font-size: 1em; font-weight: bold; color:#8D4925}
#sufijo_10{font-family:'arial';  font-size: 1em;  color:#5e5e5e}
#sufijo_11{font-family:'arial';  font-size: 1em; font-weight: bold; color:#008080}

body{

    font-family: 'arial';
    font-size: 1em;
    
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em;

}


#segmento summary{
    color:green;
    font-weight: 545;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
        
}

#segmento summary:hover{
    background-color: #e6e6e6;
    
}


#selector_2 ol li {
    font-size: 0.9em;
    line-height: 25px;
    text-align: justify;
    color:black;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #999999;
    width: 100%;
    text-decoration: none;
    margin-left: 0px;
    
}








#selector ol{
        list-style: none;
        margin: 0;
        padding: 0;
        
}

#selector_a ol{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#selector_a ol li a {
    font-size: 0.9em;
    color:black;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #999999;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
    
  
  
}



#selector_a ol li a:hover{
    background-color: #e6e6e6;
    
}








#selector ol li {
    font-size: 0.9em;
    color:black;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #999999;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
  
    
    
}








#selector1 {

    margin-left: 50px;
    width: 90%;
    line-height: 25px;
    text-align: justify;
    
}







#segmentos summary{
    
    
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    
    width: 95%;

    margin: 0;
    padding: 0;
 
}





table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }

  